.dbbackup-col1,.dbbackup-col2{
	padding-left: 30px;
}

.backup_content{
	margin-right: 20px;

}
.download_link{

	background: url("images/download.png");
	height: 26px;
	width: 26px;
	display: inline-block;
	text-indent: -9999px;

}

.download_icon{
	float:right;
}

.no-apps{
margin-top: 30px;
}